*{
    box-sizing: border-box;
}

main {
    display:flex; /* automatically arrange depending upon screen size*/
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px;
    position: relative;
    overflow: hidden;

}

.movie img {
    width: 100%;
}

.movie-info {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info span {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
    color: whitesmoke;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.red {
    color: red;
}

.movie-info h3 {
    margin-top: 0;
    color: whitesmoke;
}

.overview {
    color: whitesmoke;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    color: whitesmoke;
    background-color: black;
    transform: translateY(0);
}